<div class="h-screen bg-gray-200 flex">
  <div class="m-auto max-w-screen-sm w-full">
    <div class="flex items-center mb-2">
      <h1 class="text-3xl text-gray-600 flex-1">Memory game</h1>
      <span class="text-base"> Correct words {{ correctWords }} </span>
    </div>
    <div class="h-80 bg-white rounded shadow p-4 relative">

      <div class="absolute inset-0 bg-pink-400 z-10 opacity-50 flex" *ngIf="lostGame">
        <span class="uppercase text-pink-600 text-8xl m-auto italic">Game End</span>
      </div>


      <span
        *ngIf="showWord"
        class="
          absolute
          center-absolute
          rounded
          text-gray-700
          px-4
          py-1
          text-5xl
        "
      >
        {{ actualWord }}
      </span>

      <div class="text-gray-400 absolute flex space-x-2 bottom-4 right-4">
        <i
          class="{{
            totalLives > 2 ? 'material-icons-outlined' : 'material-icons'
          }} icon-size"
          >cancel</i
        >
        <i
          class="{{
            totalLives > 1 ? 'material-icons-outlined' : 'material-icons'
          }} icon-size"
          >cancel</i
        >
        <i
          class="{{
            totalLives > 0 ? 'material-icons-outlined' : 'material-icons'
          }} icon-size"
          >cancel</i
        >
      </div>
    </div>

    <div class="mt-4 flex space-x-4">
      <input
        [disabled]="showWord || lostGame"
        type="text"
        class="
          shadow
          border-transparent
          rounded-md
          focus:ring-pink-200 focus:ring-4 focus:border-pink-400
          border-2
          p-2
          w-64
        "
        placeholder="Write the word"
        [(ngModel)]="userWord"
      />

      <div class="flex-auto">
        <button
          class="btn pink"
          [disabled]="showWord || !startGame || lostGame"
          (click)="checkWord()"
        >
          Check
        </button>
      </div>
      <button *ngIf="!startGame" (click)="initGame()" class="btn green">
        start
      </button>
      <button *ngIf="startGame" (click)="stopGame()" class="btn red">
        Stop
      </button>
    </div>
  </div>
</div>
